<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Excellence\StoreCredit\Controller\AbstractController\FeeLoaderInterface" type="\Excellence\StoreCredit\Controller\AbstractController\FeeLoader" />
    <preference for="Magento\Newsletter\Controller\Manage\Save" type="\Excellence\StoreCredit\Controller\Newsletter\Manage\Save"/>
</config>
